<section id="sectionLogin">

    <article id="imgIllustration">
        <figure>
            <img src="../../images/advertising-concept.jpg" alt="illustration connexion page">
        </figure>
    </article>
    <article id="block_form_account">
        <div class="wrapper">
            <div class="pagination"> 
                <ul>
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <p>Connexion à la plateforme erdcinfo</p>
                    </li>
                </ul>
            </div>
            <div class="messages" style="margin: 0 auto;">
                <%- include('../partials/messages') -%>
            </div>
            <div class="block_form_login">
                
                <h2 class="title_h2"> <span><i class="fas fa-sign-in-alt"></i></span> Se connecter</h2>
                <form action="../users/signin" method="post">
                    <div class="form_group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form_control">
                    </div>
                
                    <div class="form_group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form_control">
                    </div>
                
                    <div class="form_group">
                        <input type="submit" value="Se connecter" class="btn">
                    </div>
                </form>
                <p class="create_acccount">Vous etês nouveau? <a href="../users/signup" class="">Créer un compte maintenant</a></p>
            </div>
        </div>
    </article>
    
</section>