<article id="form_article">
    <h2 class="title_h3">Ajouter un nouvel article</h2>
    <form action="/admin/add" enctype="multipart/form-data" method="post">
        <%- include('../partials/form') -%>
    </form>
</article>   