<!-- FOOTER -->
<!-- DEBUT FOOTER -->
<footer>
    <div class="wrapper">
        <ul>
            <li>
                <h3 class="title_h3">Plan du site</h3>
                <div>
                    <a href="#article_a_la_une" title="Accueil">Accueil</a>
                    <a href="#stories" title="Stories">Stories</a>
                    <a href="#apropos" title="À propos">À propos</a>
                    <% if (!user) { %>
                    <a href="../users/signin" title="Se connecter">Se connecter</a>
                    <% } %>
                </div>
            </li>
            <li>
                <h3 class="title_h3">Suivez-nous</h3>
                <p>Suivez en temps réel notre actualité, l’action de nos équipes et bien plus encore…</p>
                <div class="block_social">
                    <!-- <a href="" target="_blank" rel="noopener noreferrer" title="Page facebook erdcinfo"><span><i class="fab fa-facebook"></i></span></a> -->
                    <a href="https://www.instagram.com/erdcinfo/" target="_blank" rel="noopener noreferrer" title="Page instagram erdcinfo"><span style="font-size: 0.9rem; color: #3DB1EA;"><i class="fab fa-instagram"></i> @erdcinfo</span></a>
                    <!-- <a href="" target="_blank" rel="noopener noreferrer" title="Page twitter erdcinfo"><span><i class="fab fa-twitter"></i></span></a> -->
                </div>
            </li>
        </ul>
    </div>
    <p>erdcinfo © 2020 | Tous droits reservés</p>
</footer>
    

