<div class="form_group">
    <label for="title"></label>
    <input type="text" value="<%= article.title %>" name="title" id="title" class="form_control" placeholder="Saisissez votre titre ici" required>
</div>
<div class="form_group">
    <label for="picture" class="label-file"></label>
    <input id="picture" type="file" value="<%= article.picture %>" name="picture" class="input_file" required>
</div>
<div class="form_group">
    <label for="reading">Temps de lecture en minute</label>
    <select name="reading" id="reading" class="form_control">
       <option value="1">1</option>
       <option value="2">2</option>
       <option value="3">3</option>
       <option value="4">4</option>
       <option value="5">5</option>
       <option value="6">6</option>
       <option value="7">7</option>
       <option value="8">8</option>
       <option value="9">9</option>
       <option value="10">10</option>
    </select>
</div>
<div class="form_group">
    <label for="content"></label>
    <textarea name="content" id="content" class="form_control" required><%= article.content %></textarea>
</div>
<div class="form_group">
    <input type="submit" class="btn form_control" value="Publier l'article">
</div>