<h2 class="title_h2">
    <label for="nav-toggle">
        <span><i class="fas fa-bars"></i></span>
    </label>
</h2>

<div class="user_wrapper">
    <figure class="mon_avatar">
        <img src="../../images/avatar/<%= user.avatar %>" alt="Avatar de <%= user.pseudo %>">
    </figure>
    <div>
        <h3><%= user.pseudo %></h3>
        <small><%= user.role %></small>
    </div>
</div>