
<article id="errorHandler">
    <div class="wrapper">
        <div class="pagination"> 
            <ul>
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <p>error</p>
                </li>
            </ul>
        </div>

        <div class="box-error">
            <h2 class="title_h2">La page que vous essayez de voir est introuvable !</h2>
            <figure>
                <img src="../../images/error404.png" alt="error 404">
            </figure>
        </div>
    </div>
</article>