/* fichier : css/_variables.scss */


/*-Palette de couleur-*/

$primary: #37AEE9;
$dark: #384143;
$bad: #EA4E4E;
$light: #FAFAFA;

$primary_rgba: rgba(55,174,233,0.2);
$bad_rgba: rgba(254,185,185,0.2);
$gray: #F1F5F9;